<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title>Title to change</title>
    <script src="/static/js/googleMaps.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body style="background-color: #cccccc">

<div id="googleMap" style="width:98%; height:600px;border: solid 2px black;border-radius:5px;"></div>

todo: remove unnecessary static js
todo: general cleanup
</body>
</html>